#!/bin/bash
############################################
# This script monitor NFS @ each node. 
# If there is problem, send a message to teams
DIR_TO_WATCH={{ nfs_dir_to_watch }}
( ls ${DIR_TO_WATCH} ) & pid=$!
( sleep {{ timeout }}  && kill -HUP $pid ) 2>/dev/null & watcher=$!
if wait $pid 2>/dev/null; then
    echo "Q collections mount ok"
    pkill -HUP -P $watcher
    wait $watcher
else
    echo "NFS mount problem. Notifying teams channel"
    title="NFS Problem"
    message="Problem listing ${DIR_TO_WATCH}. Host: $(hostname)."
    payload='{"@context": "https://schema.org/extensions", "@type": "MessageCard", "themeColor": "c60000", "title": "[Error] '${title}'", "text": "'${message}'"}'
    curl -s -X POST "{{ teams_webhook }}" -H "Content-Type: application/json" -d "${payload}"
fi
