---
ldap_uris: ["ldaps://ldap1/", "ldaps://ldap2/"]
ldap_user: xxxx
ldap_password: xxxx
ldap_autofs_treeroot: xxxx

# secret used to encrypt cookies for example
# tr -dc 'A-Za-z0-9!$%&()*+,-./:;<>?@[\]^_{|}~' </dev/urandom | head -c 64  ; echo
clowder_secret: xxxx
# tr -dc 'A-Za-z0-9A-Za-z0-9' </dev/urandom | head -c 10 ; echo ''
clowder_key: xxxx

clowder_admins: xxxx

traefik_acme_email: xxxx

portainer_password: xxxx

rabbitmq_default_pass: xxxx
rabbitmq_uri: amqp://xxxx:xxxx@xxxx/%2F

# for custom.conf
securesocial_cilogon_authorizationurl: xxxx
securesocial_cilogon_accesstokenurl: xxxx
securesocial_cilogon_userinfourl: xxxx
securesocial_cilogon_scope: openid profile email
securesocial_cilogon_clientid: xxxx
securesocial_cilogon_clientsecret: xxxx

# ppms
ppms_url: xxxx
ppms_puma_key: xxxxx
ppms_api2_key: xxxx
