---
ldap_uris: ["ldaps://ldap1/", "ldaps://ldap2/"]
ldap_user: xxxx
ldap_password: xxxx
ldap_autofs_treeroot: xxxx

# secret used to encrypt cookies for example
# tr -dc 'A-Za-z0-9!$%&()*+,-./:;<>?@[\]^_{|}~' </dev/urandom | head -c 64  ; echo
clowder_secret: xxxx
# tr -dc 'A-Za-z0-9A-Za-z0-9' </dev/urandom | head -c 10 ; echo ''
clowder_key: xxxx

clowder_admins: xxxx

traefik_acme_email: xxxx
pitschi_dns: xxxx
traefik_ip_filters: iprange1, iprange2


portainer_password: xxxx

rabbitmq_default_pass: xxxx
rabbitmq_uri: amqp://xxxx:xxxx@xxxx/%2F

# for custom.conf
securesocial_cilogon_authorizationurl: xxxx
securesocial_cilogon_accesstokenurl: xxxx
securesocial_cilogon_userinfourl: xxxx
securesocial_cilogon_scope: openid profile email
securesocial_cilogon_clientid: xxxx
securesocial_cilogon_clientsecret: xxxx

# ppms
ppms_url: xxxx
ppms_puma_key: xxxxx
ppms_api2_key: xxxx

ppms_url: xxxxxxxx

# clowder key - obtain this once clowder is setup
clowder_admin_key: xxxxxxxxxxx

# xapi
xapi_user: xxxx
xapi_pass: xxxxx
xapi_db: xxxxx
pxapi_admin: xxxxx
pxapi_password: xxxxx

# xapi email
pitschi_username: xxxx
pitschi_address: xxxx
pitschi_password: xxxx
pitschi_smtp_server: xxxx
pitschi_smtp_port: xxxx


# backup
os_auth_url: xxxx
auth_version: xxxx
os_username: xxxx
os_password: xxxx
os_project_id: xxxx
setup: xxxx

# monitor
telegram_chat_group_id: xxxx
telegram_token: xxxx


# keycloak - for xapi with keycloak and client
keycloak_server_url: xxxx
keycloak_realm_name: xxxx
keycloak_xapi_client_id: xxxx
keycloak_xapi_client_secret: xxx
keycloak_authorization_url: xxxx
keycloak_token_url: xxxxx
keycloak_public_key: xxxx

keycloak_dashboard_clientid: xxxx