---
# elatic search
elastic_search_image: elasticsearch:2.4.6
# mongo
mongo_image: mongo:3.6-xenial
# traefik configs
consul_image: consul:1.12.3
traefik_image: traefik:2.8
# clowder
clowder_image: uqrcc/clowder:pitschi1.20.7
#clowder_image: uqrcc/clowder:rcc
clowder_register: 'false'
clowder_context: /
clowder_ssl: 'true'
clowder_subnet: 17.7.0.0/16
docker_dns_server: 127.0.0.11
openid_dns_server: 127.0.0.1
rabbitmq_exchange: clowder
rabbitmq_clowder_url: http://clowder:9000 # for local - or things like https://clowder-docker.ncsa.illinois.edu/clowder/ for remote
smtp_mock: 'true'
smtp_server: smtp

q_collection_root: /data

# rabbitmq
rabbitmq_image: rabbitmq:3.10.7-management-alpine
rabbitmq_default_user: clowder
rabbitmq_mgmt_port: 15672
rabbitmq_mgmt_path: /rabbitmq
# monitor
monitor_image: clowder/monitor:latest

# portainer
portainer_image: portainer/portainer:latest



#### extractors ###
filedigest_image: clowder/extractors-digest:latest
imagepreview_image: clowder/extractors-image-preview:latest
imagemetadata_image: clowder/extractors-image-metadata:latest
audiopreview_image: clowder/extractors-audio-preview:latest
pdfpreview_image: clowder/extractors-pdf-preview:latest
videopreview_image: clowder/extractors-video-preview:latest
hyperspydm3_image: uqrcc/dm3-extractor:1.0
bioformat_extractor_image: uqrcc/bioformat-extractor:1.2
pitschi_xapi_image: uqrcc/pitschi-xapi:1.9.4
pitschi_xapi_db_image: postgres:12.6
wdf_image: uqrcc/wdf-extractor:latest
pitschi_dashboard_image: uqrcc/pitschi-dashboard:0.13

### ppms
ppms_extra_profile_action: Report75
ppms_storage_field: 'UQRDM Collection #'
ppms_sync_mins: 1440  # daily
ppms_starting_pid: 1
ppms_default_securesocial: cilogon
ppms_coreids: '[2,18,22]'
ppms_cores_action: Report2169
ppms_userids_action: Report2110
ppms_user_orgs_action: Report49

### rdm
rdm_cache_defaults: '{"its":0,"qbi":1}'
