#!/bin/bash
############################################
# This script backups rabbitmq data
# This can be executed in any slave node

backupcontainer=pitschi-{{ setup }}
echo $backupcontainer
containers=$(/usr/bin/swift --os-auth-url {{ os_auth_url }} --auth-version {{ auth_version }} --os-username {{ os_username }} --os-password {{ os_password }} --os-project-id {{ os_project_id }} list)
found=false
for container in $containers; do
    if [[ "$container" == "$backupcontainer" ]] ; then
        found=true
    fi
done
if [ "$found" = false ]; then
    /usr/bin/swift --os-auth-url {{ os_auth_url }} --auth-version {{ auth_version }} --os-username {{ os_username }} --os-password {{ os_password }} --os-project-id {{ os_project_id }} post $backupcontainer
fi

###
today=$(date '+%d-%m-%Y')
rabbitcontainer=$(docker ps -q -f name=clowder_rabbitmq)
if [ ! -z "$rabbitcontainer" ]; then 
    zipped_file_name="rabbitmq.tar.gz"
    tar cvfz "/tmp/${zipped_file_name}" /mnt/rabbitmq/
    /usr/bin/swift --os-auth-url {{ os_auth_url }} --auth-version {{ auth_version }} --os-username {{ os_username }} --os-password {{ os_password }} --os-project-id {{ os_project_id }} upload $backupcontainer "/tmp/${zipped_file_name}" --object-name "${today}/${zipped_file_name}"
    rm "/tmp/${zipped_file_name}"
fi

