[database]
type={{ rapi_db_type }}
db_name={{ rapi_db }}
db_username={{ rapi_user }}
db_password={{ rapi_pass }}
host={{ rapi_host }}
port={{ rapi_port }}

[sync]
automatic_sync=True
full_sync_frequency=1
simple_sync_frequency=1

[logging]
log_file=/var/log/rimsboard/rimsboard.log
log_level=INFO

[ppms]
ppms_url={{ ppms_url }}
rims_url={{ ppms_url }}
api2_key={{ rapi_ppms_api2_key }}
core_id=2
core_name=CMM
timezone=Australia/Brisbane
system_for_admin_check=88
search_begin_year=2019

[manual]
external_affiliations=Ext_Res, Ext_MOU, Ext_Indust
unlisted_staff={{ rapi_unlisted_staff }}
