[logging]
log_file=/var/log/rimsdash/rimsdash.log

[ppms]
ppms_url={{ ppms_url }}
api2_key={{ rapi_ppms_api2_key }}
timezone=Australia/Brisbane
core_id=2

[visualisation]
min_hours=250

[authentication]
username = {{ rapi_user }}
password = {{ rapi_passord }}
