[database]
type=postgresql
host=xapidb
username={{ xapi_user }}
password={{ xapi_pass }}
name={{ xapi_db }}

[email]
username={{ pitschi_username }}
address={{ pitschi_address }}
password={{ pitschi_password }}
smtp_server={{ pitschi_smtp_server }}
smtp_port={{ pitschi_smtp_port }}

[logging]
log_file=/var/log/pitschi-xapi.log

[ppms]
syncing_ppms=yes
ppms_url={{ ppms_url }}
api2_key={{ ppms_api2_key }}
ppms_key={{ ppms_puma_key }}
qcollection_action={{ ppms_extra_profile_action }}
q_collection_field={{ ppms_storage_field }}
booking_query=Report39
coreid=2
timezone=Australia/Brisbane
booking_query_frequency=181

[rdm]
prefix=/data

[clowder]
url=https://{{ clowder_host }}
api_url=https://{{ clowder_host }}/api
api_key={{ clowder_admin_key }}
ingesting=no
ingest_frequency=10
wait_time_to_sync=24

[admin]
admin_username={{ pxapi_admin }}
admin_password={{ pxapi_password }}