[database]
type=postgresql
host=xapidb
username={{ xapi_user }}
password={{ xapi_pass }}
name={{ xapi_db }}

[email]
username={{ pitschi_username }}
address={{ pitschi_address }}
password={{ pitschi_password }}
smtp_server={{ pitschi_smtp_server }}
smtp_port={{ pitschi_smtp_port }}
smtp_tls={{ pitschi_smtp_tls }}

[logging]
log_file=/var/log/pitschi-xapi.log

[ppms]
syncing_ppms_project=yes
project_sync_day=7
project_starting_ref=1
syncing_ppms_bookings=yes
booking_sync_minute=181
ppms_url={{ ppms_url }}
api2_key={{ ppms_api2_key }}
ppms_key={{ ppms_puma_key }}
qcollection_action={{ ppms_extra_profile_action }}
q_collection_field={{ ppms_storage_field }}
booking_query=Report39
training_query=Report1828
coreid=2
timezone=Australia/Brisbane

[rdm]
prefix=/data

[clowder]
url=https://{{ clowder_host }}
api_url=https://{{ clowder_host }}/api
api_key={{ clowder_admin_key }}
ingesting=no
ingest_frequency=10
wait_time_to_sync=24

[admin]
admin_username={{ pxapi_admin }}
admin_password={{ pxapi_password }}

[keycloak]
server_url={{ keycloak_server_url }}
realm_name={{ keycloak_realm_name }}
client_id={{ keycloak_xapi_client_id }}
client_secret={{ keycloak_xapi_client_secret }}
authorization_url={{ keycloak_authorization_url }}
token_url={{ keycloak_token_url }}
public_key={{ keycloak_public_key }}

[miscs]
xapi_alerts_enabled=yes
teams_webhook={{ teams_webhook }}

[creds]
encrypted_key={{ xapi_encrypted_key }}
encrypted_creds={{ xapi_encrypted_creds }}
encrypted_clowder_key={{ xapi_encrypted_clowder_key }}
encrypted_ppms_creds={{ xapi_encrypted_ppms_creds }}
